{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
{% include 'mainapp/navbar.html' %}
<h2 class="text-center">Homepage</h2>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h3 class="text-center">Browse topics</h3>
            <hr>
            <a href="{% url 'home' %}">All Topics</a>
            <ul class="list-group">
                {% for topic in topics %}
                   <a href="{% url 'home' %}?q={{topic.name}}"> <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{topic.name}}
                    <span class="badge bg-primary rounded-pill">14</span>
                    </li></a>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
           <a href="{% url 'newroom' %}"><h6 class="btn btn-primary">+ Create Room</h6></a> 
            {% for room in rooms %}
            <div class="card">
                <div class="card-body">
                  <h4 class="card-title"><a href="{% url 'room' room.id %}">{{room.name}}</a></h4>
                  <h6 class="card-subtitle mb-2 text-muted">Host @{{room.host.username}}</h6>
                  <p class="card-text">Topic: {{room.topic.name}}.</p>
                  {% if request.user == room.host %}
                  <a href="{% url 'update' room.id %}" class="card-link">Edit</a>
                  <a href="{%url 'delete' room.id %}" class="card-link">Delete</a>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
                <div class="card-header">Recent Activity</div>
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  {% for mess in texts %}
                  <p class="card-text">{{mess.body}}</p>

                  {% endfor %}
                </div>
              </div>
        </div>
    </div>
</div>


{% endblock %}