{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
{% include 'mainapp/navbar.html' %}
<h2 class="text-center">Homepage</h2>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h3 class="text-center">Browse topics</h3>
            <hr>
            <a href="{% url 'home' %}">All Topics</a>
                {% include 'mainapp/topics.html' %}
        </div>
        <div class="col-md-6">
           <a href="{% url 'newroom' %}"><h6 class="btn btn-primary">+ Create Room</h6></a> 
            {% include 'mainapp/classcards.html' %}
        </div>
        <div class="col-md-3">
            {% include 'mainapp/activityfeed.html' %}
        </div>
    </div>
</div>


{% endblock %}