{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Disqus Forum</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav ms-auto">
         
          
          
           <form class="d-flex" method="GET" action="{% url 'home' %}">
          <input class="form-control me-sm-2" type="text" placeholder="Search" name="q" pwa2-uuid="EDITOR/input-863-FCC-3BBCC-11C" pwa-fake-editor="">
          
        </form>
        </ul>
      
      </div>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav ms-auto">
            {% if request.user.is_authenticated %}
           
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="rounded-circle"
            height="35"
            alt="Black and White Portrait of a Man"
            loading="lazy"
          />
                Hi, {{request.user}}</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              </div>
            </li> 
           
            {% else %}
                <li class="nav-item m-1">
                    <a class="nav-link active " href="{% url 'log' %}">Login
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item m-1">
                  <a class="nav-link active " href="{% url 'register' %}">Register
                      <span class="visually-hidden">(current)</span>
                  </a>
              </li>
            {% endif %}
            
        </ul>
      </div>
    </div>
  </nav>